body {
		font-size: 16px;
		font-family: "Times New Roman", "Arial", sans-serif;
}
h1 {
		font-size: 36px;
		line-height: 36px;
}
h2 {
		font-size: 38px;
		line-height: 38px;
}
h3 {
		font-size: 18px;
		margin-top: 24px;

}