body {
	width: 1440px;
	margin: 0 auto;
	font-family: "Roboto", "Helvetica", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #283136;
	text-transform: uppercase;
}
a {
	font-family: "Roboto", "Helvetica", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	text-decoration: none;
	display: flex;
}
body, html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}
.header-contanier,
.main-contanier,
.slider-contanier,
.contacts-contanier,
.footer-contanier {
	width: 1160px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
}
.header-contanier,
.slider-contanier {
	background-color: #eeeeee;
}
.contacts-contanier {
	width: 1440px;
}
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
.header {
	width: 100%;
	margin-bottom: 78px;
	background-color: #eeeeee;
}
.nav {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	padding-top: 49px;
}
.logo-nav {
	width: 165px;
	min-height: 65px;
}
.logo-nav:hover {
	opacity: 0.8;
}
.logo-nav:active {
	opacity: 0.3;
}
.site-nav {
	list-style: none;
	width: 480px;
	display: flex;
	justify-content: space-around;
	padding: 25px 0;
	margin: 0;
	margin-left: 167px;
}
.item-nav {
	display: flex;
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}
.item-nav-studio {
	margin-left: 23px;
}
.item-nav-clients {
	margin-left: 27px;
}
.item-nav-shop {
	margin-left: 30px;
}
.item-nav-contacts {
	margin-left: 27px;
}
.item-nav:hover,
.item-nav:focus {
	font-size: 16px;
	font-weight: 500;
	color: #fb565a;
}
.item-nav:active {
	color: #000000;
	opacity: 0.3;
}
.item-nav-active {
	border-bottom: 2px solid #fb565a;
	padding-bottom: 5px;
}
.basket-nav {
	width: 348px;
	display: flex;
	justify-content: flex-end;
	position: relative;
	padding-top: 28px;
}
.basket-nav-link {
	font-size: 16px;
	font-weight: 500;
	color: #000000;
	cursor: pointer;
}
.basket-nav-link:hover,
.basket-nav-link:focus {
	font-size: 16px;
	font-weight: 500;
	color: #fb565a;
}
.basket-nav-link:active {
	color: #000000;
	opacity: 0.3;
}
.basket-nav-link::before {
	content: "";
	position: absolute;
	top: 33px;
	left: 237px;
	width: 16px;
	height: 18px;
	background-image: url("../img/basket-icon.svg");
	background-repeat: no-repeat;
}
.slider {
	position: relative;
	width: 100%;
	min-height: 410px;
	margin: 0 auto;
	background-color: #eeeeee;
}
.slider input[type=radio] {
	position: absolute;
	opacity: 0;
}
.slider-control {
	position: absolute;
	bottom: 95px;
	bottom: 90px;
	left: 50%;
	width: 200px;
	height: 10px;
	padding: 10px 10px;
	margin-left: -111px;
	text-align: center;
	z-index: 100;
}
.slider-control label{
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 8px;
	background: #ffffff;
	border: 6px solid #ffffff;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
}
#slider-btn1:checked ~ .slider-control label[for="slider-btn1"],
#slider-btn2:checked ~ .slider-control label[for="slider-btn2"],
#slider-btn3:checked ~ .slider-control label[for="slider-btn3"] {
	background-color:  transparent;
	border: 6px solid #c1c1c1;
}
.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}
.slide-title {
	font-weight: 500;
	line-height: 55px;
	font-size: 55px;
	color: #000000;
	text-transform: none;
	margin: 0;
	padding-top: 56px;
	padding-bottom: 9px;
}
.slide-description {
	width: 515px;
	padding: 0 3px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	text-transform: none;
}
.slide-btn {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	border-radius: 5px 5px 5px 5px;
	width: 240px;
	height: 50px;
	background-color: #fb565a;
	margin-top: 23px;
}
.slide-btn:hover {
	background-color: #e74246;
}
.slide-btn:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
	color: #e47175;
}
.slide:nth-child(1) {
	background-image: url("../img/slide-1.png");
	background-repeat: no-repeat;
	background-position: 94% -5px;
}
.slide:nth-child(2) {
	background-image: url("../img/slide-2.png");
	background-repeat: no-repeat;
	background-position: 100% -22px;
}
.slide:nth-child(3) {
	background-image: url("../img/slide-3.png");
	background-repeat: no-repeat;
	background-position: 100% -5px;
}
#slider-btn1:checked ~ .slides .slide:nth-child(1) {
	display: flex;
}
#slider-btn2:checked ~ .slides .slide:nth-child(2) {
	display: flex;
}
#slider-btn3:checked ~ .slides .slide:nth-child(3) {
	display: flex;
}
.service {
	width: 1100px;
	display: flex;
	padding-bottom: 78px;
	margin-right: 53px;
	justify-content: flex-start;
}
.service-item {
	width: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-right: 100px;
}
.service-title {
	color: #000000;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 18px;
}
.service-description {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #283136;
	text-transform: none;
	margin-bottom: 32px;
}
.service-button-red {
	color: #ffffff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	border-radius: 5px 5px 5px 5px;
	width: 160px;
	height: 50px;
	border: none;
	background-color: #fb565a;
}
.service-button-red:hover {
	background-color: #e74246;
}
.service-button-red:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
	color: #e47175;
}
.service-button-green {
	color: #ffffff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	border-radius: 5px 5px 5px 5px;
	width: 160px;
	height: 50px;;
	border: none;
	background-color: #00cb75;
}
.service-button-green:hover {
	background-color: #00bd6c;
}
.service-button-green:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #00ab62;
	color: #4dc491;
}
.service-button-yellow {
	color: #ffffff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	border-radius: 5px 5px 5px 5px;
	width: 160px;
	height: 50px;;
	border: none;
	background-color: #f0c949;
}
.service-button-yellow:hover {
 	background-color: #ebb631;
}
.service-button-yellow:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #eec261 ;
}
.nerds-about {
	display: flex;
	align-items: flex-start;
	width: 100%;
	justify-content: space-between;
	border-top: 2px solid #d3d3d3;
	margin-bottom: 50px;
}
.nerds-osebe-left {
	width: 680px;
	margin-left: 5px;
}
.slogan {
	display: flex;
	align-items: flex-end;
	margin-bottom: 32px;
	padding-top: 30px;
	font-size: 18px;
	font-weight: 700;
	color: #000000;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	text-transform: none;
}
.slogan-osebe {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #283136;
	text-transform: none;
	margin-bottom: 31px;
}
.osebe-bold {
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	margin-left: 2px;
}
.uslugi-nerds-list {
	width: 430px;
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #283136;
	text-transform: none;
	list-style-image: url(../img/red-line.png);
	list-style-position:
}
.uslugi-nerds-list-title:nth-child(1) {
	padding-bottom: 0px;
}
.uslugi-nerds-list-title:nth-child(2) {
	padding-top: 16px;
}
.uslugi-nerds-list-title:nth-child(3) {
	padding-top: 16px;
}
.nerds-osebe-right {
	width: 360px;
}
.nerds-osebe-img {
	padding-top: 40px;
}
.osebe-bold-right {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}
.quality-title {
	color: #000000;
	font-size: 45px;
	font-weight: 700;
	line-height: 10px;
}
.quality-item p {
	font-size: 16px;
	font-weight: 400;
	color: #283136;
	text-transform: none;
	margin-right: 25px;
}
.quality {
	display: flex;
	width: 360px;
	justify-content: space-between;
	margin-top: 50px;
}
.partners {
	width: 100%;
	padding: 44px 34px;
	padding-right: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 2px solid #d3d3d3;
	border-bottom: 2px solid #d3d3d3;
	margin-bottom: 80px
}
.partners-item {
	position: relative;
	opacity: 0.2;
}
.partners-item-academy {
	margin-top: 9px;
}
.partners-item-barbershop {
	margin-right: 8px;
}
.partners-item-pink {
	margin-right: 25px;
}
.partners-item-mishka {
	margin-top: 5px;
}
.partners-item:hover {
	opacity: 1;
}
.partners-item:active {
	opacity: 0.1;
}
.partners-item:nth-child(3)::before {
	content: "";
	position: absolute;
	top: 18px;
	left: -49px;
	width: 2px;
	height: 52px;
	background: #eeeeee;
}
.partners-item:nth-child(4)::before {
	content: "";
	position: absolute;
	top: 0px;
	left: -61px;
	width: 2px;
	height: 52px;
	background: #eeeeee;
}
.partners-item:nth-child(5)::before {
	content: "";
	position: absolute;
	top: 10px;
	left: -67px;
	width: 2px;
	height: 52px;
	background: #eeeeee;
}
.header-title {
	width: 100%;
	height: 6px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: #000000;
	text-transform: none;
	padding-top: 56px;
	padding-bottom: 78px;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}
.filter {
	width: 260px;
	font-size: 16px;
	font-weight: 400;
	text-transform: none;
}
.filter-title {
	display: flex;
	color: #000000;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 7px;
}
.filter-title-cost {
	margin-bottom: 48px;
	margin-left: 4px;
}
.wrapper-filter-range fieldset {
	border: none;
	width: 240px;
	padding: 0;
	margin: 0;
	margin-bottom: 62px;
	text-transform: uppercase;
}
.cost-controls {
	margin-bottom: 20px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	height: 41px;
	position: relative;
	border-radius: 5px;
	background: #f1f1f1;
}
.cost-scale {
	height: 2px;
	background: #d7dcde;
	cursor: pointer;
}
.scale-slider {
	height: 2px;
	background: #00ca74;
}
.toggle {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border: 8px solid #ffffff;
	background: #ababab;
	cursor: pointer;
}
.toggle-min {
	left: 20px;
}
.toggle-max {
	left: 160px;
}
.cost-range {
	display: flex;
	height: 24px;
	align-items: center;
	width: 260px;
}
.cost-range label {
	display: inline-block;
	font-size: 16px;
}
.price-range-max {
	text-align: right;
}
.cost-range input {
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
	margin-left: 12px;
}
.cost-range {
	display: flex;
	justify-content: flex-start;
	width: 260px;
}
.cost-range input[type="text"] {
	color: #283136;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	background-color: #f1f1f1;
	border: none;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 14px;
	padding-right: 14px;
	box-sizing: content-box;
	width: 50px;
	text-align: center;
}
.cost-right {
	margin-left: 38px;
}
.filter-radio {
	display: flex;
	flex-wrap: wrap;
	border: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 40px;
	font-weight: 400;
	color: #283136;
	width: 200px;
	margin-bottom: 33px;
}
 .filter-radio label,
 .filter-checkbox label {
 	width: 100%;
 }
.filter-checkbox {
	display: flex;
	flex-wrap: wrap;
	border: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 40px;
	font-weight: 400;
	color: #283136;
	width: 200px;
	margin-bottom: 36px;
}
input[type="checkbox"] + label span {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: -2px 10px 0 0;
	vertical-align: middle;
	opacity: 0.4;
	background: url(../img/checkbox-off.svg) no-repeat;
	cursor: pointer;
}
input[type="radio"] + label span {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: -2px 10px 0 0;
	vertical-align: middle;
	opacity: 0.4;
	background: url(../img/radio-off.svg) no-repeat;
	cursor: pointer;
}
input[type="checkbox"]:checked + label span {
	background-image: url(../img/checkbox-on.svg);
}
input[type="radio"]:checked + label span {
	background-image: url(../img/radio-on.svg);
}
input[type="radio"] + label span:hover,
input[type="checkbox"] + label span:hover {
	opacity: 1;
}
.form-button {
	border-radius: 5px 5px 5px 5px;
	width: 260px;
	height: 50px;;
	border: none;
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	padding-top: 6px;
	background-color: #efefef;
}
.form-button:hover {
	background-color: #dfdfdf;
}
.form-button:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
}
.sortirovka-title-bold {
	font-size: 18px;
	font-weight: 700;
}
.sortirovka {
	width: 760px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 60px;
}
.sortirovka a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	font-weight: 400;
}
.sortirovka-type {
	width: 282px;
	display: flex;
	justify-content: space-between;
	margin-left: 266px;
	margin-right: 35px;
	padding-top: 5px;
}
.sortirovka-link {
	opacity: 0.3;
}
.sortirovka-link:hover {
	opacity: 0.6;
}
.sortirovka-link:active {
	opacity: 1;
}
.sortirovka-link-name {
	padding-right: 9px;
}
.sortirovka-direction {
	font-size: 0;
	display: flex;
	width: 40px;
	justify-content: space-between;
	align-items: center;
}
.sortirovka-direction-up,
.sortirovka-direction-down {
	width: 11px;
	height: 10px;
	border: none;
	background-color: transparent;
	background-image: url(../img/icon-up-dir.svg);
	background-repeat: no-repeat;
	opacity: 0.3;
}
.sortirovka-direction-down {
	background-image: url(../img/icon-down-dir.svg);
}
.sortirovka-direction-up:hover,
.sortirovka-direction-down:hover {
	opacity: 0.6;
}
.sortirovka-direction-up:active,
.sortirovka-direction-down:active {
	outline: none;
	opacity: 1;
}
.catalog {
	max-width: 760px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 45px;
}
.catalog-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 25px;
}
.catalog-link {
	color: #000000;
}
.catalog-item {
	width: 360px;
	position: relative;
	margin-bottom: 60px;
}
.catalog-item::before {
	content: "";
	width: 360px;
	height: 40px;
	position: absolute;
	background-image: url(../img/browser.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	top: -39px;
	opacity: 0.12;
}
.catalog-item:hover::before {
	opacity: 1;
}
.catalog-item-active {
	max-width: 100%;
	height: auto;
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	padding: 0 60px;
	top: 346px;
	left: 0px;
	background-color: #eeeeee;
	text-align: center;
}
.catalog-item:hover .catalog-item-active {
	display: flex;
}
.catalog-description {
	max-width: 360px;
	color: #666666;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-transform: none;
	margin-bottom: 30px;
}
.catalog-btn {
	color: #ffffff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px 5px 5px 5px;
	width: 160px;
	height: 50px;;
	border: none;
	background-color: #fb565a;
	margin-bottom: 43px;
}
.catalog-btn:hover {
	background-color: #e74246;
}
.catalog-btn:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
	color: #e47175;
}
.pagination {
	width: 760px;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 60px;
}
.pagination-item {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #000000;
	background-color: #eeeeee;
	text-transform: uppercase;
	margin-right: 10px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px 2px 2px 2px;
	width: 50px;
	height: 50px;
}
.pagination-item:hover:not(.pagination-item-current) {
	background-color: #dfdfdf;
}
.pagination-item:active:not(.pagination-item-current) {
	background-color: #d5d5d5;
	border-top: none;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}
.pagination-item-current {
	border-radius: 2px 2px 2px 2px;
	width: 44px;
	height: 44px;
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}
.pagination-item-preview,
.pagination-item-next {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px 2px 2px 2px;
	width: 260px;
	height: 50px;
}
.contacts {
	display: flex;
	align-items: center;
	width: 1440px;
	margin: 0 auto;
	background-image: url(../img/maps.png);
	background-color: #eeeeee;
	min-height: 410px;
	margin-bottom: 70px;
}
.location-location {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 320px;
	height: 310px;
	background-color: #ffffff;
	margin-left: 140px;
}
.contacts-title {
	display: flex;
	align-items: flex-end;
	margin-right: 26px;
	margin-bottom: 8px;
	padding-top: 12px;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
}
.location-location p {
	display: flex;
	flex-wrap: wrap;
	padding-left: 52px;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #666666;
	text-transform: none;
}
.contacts-phone {
	color: #666666;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}
.contacts-button-red {
	display: flex;
	color: #ffffff;
	border: none;
	background-color: #fb565a;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	border-radius: 5px 5px 5px 5px;
	width: 220px;
	height: 50px;;
	border: none;
	margin-bottom: 13px;
}
.contacts-button-red:hover {
	background-color: #e74246;
}
.contacts-button-red:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
	color: #e47175;
}
.footer-social {
	width: 943px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-center;
	margin-right: 210px;
	margin-bottom: 100px;
}
.footer-social-list {
	display: flex;
	width: 260px;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-social-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background-color: #e1e1e1;
}
.footer-social-item:hover {
	background-color: #e84045;
}
.footer-social-item:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}
.footer-social-item-VK {
	background-image: url(../img/vk-icon.svg);
	background-repeat: no-repeat;
	background-position: 26px 30px;
}
.footer-social-item-VK:active {
	background-image: url(../img/vk-icon-active.svg);
	background-repeat: no-repeat;
	background-position: 26px 30px;
}
.footer-social-item-Facebook {
	background-image: url(../img/fb-icon.svg);
	background-repeat: no-repeat;
	background-position: 33px 26px;
}
.footer-social-item-Facebook:active {
	background-image: url(../img/fb-icon-active.svg);
	background-repeat: no-repeat;
	background-position: 33px 26px;
}
.footer-social-item-Instagram {
	background-image: url(../img/insta-icon.svg);
	background-repeat: no-repeat;
	background-position: 29px 27px;
}
.footer-social-item-Instagram:active {
	background-image: url(../img/insta-icon-active.svg);
	background-repeat: no-repeat;
	background-position: 29px 27px;
}
.footer-text {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	color: #000000;
	text-transform: none;
	margin: 0;
	padding: 0;
}
.footer-plus {
	font-size: 16px;
	font-weight: 400;
	color: #283136;
	text-transform: none;
	margin-left: 141px;
}
.footer-text-span {
	font-size: 16px;
	font-weight: 400;
	color: #283136;
	text-transform: none;
}
.modal-write {
	display: none;
	position: fixed;
	width: 860px;
	padding-top: 73px;
	padding-bottom: 84px;
	padding-left: 100px;
	padding-right: 0px;
	top: 180px;
	left: 50%;
	margin-left: -470px;
	background-color: #ffffff;
	box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
	text-transform: none;
	border: none;
}
.modal-write fieldset {
	border: none;
}
.modal-write-show {
	display: flex;
}
.modal-write-form {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}
.modal-write-title {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	margin-bottom: 20px;
}
.modal-write-name,
.modal-write-email,
.modal-write-message {
	font-weight: 700;
}
.modal-write-name input[type="text"],
.modal-write-email input[type="email"] {
	color: #444444;
	font-size: 16px;
	font-weight: 400;
	box-sizing: border-box;
	width: 360px;
	padding-top: 18px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 135px;
	margin-bottom: 18px;
	margin-right: 40px;
	border: 2px solid #d7dcde;
	opacity: 0.7;
}
.modal-write-textarea {
	min-height: 118px;
	padding-top: 14px;
	padding-bottom: 87px;
	padding-left: 15px;
	padding-right: 560px;
	resize: none;
	margin-bottom: 47px;
	border: 2px solid #d7dcde;
	opacity: 0.7;
}
.modal-write-name input[type="text"]:hover,
.modal-write-email input[type="email"]:hover,
.modal-write-textarea:hover {
	border: 2px solid #b4b9bb;
}
.modal-write-name input[type="text"]:focus,
.modal-write-email input[type="email"]:focus,
.modal-write-textarea:focus {
	outline: none;
	border: 2px solid #000000;
}
.modal-write-btn-submit {
	border-radius: 5px 5px 5px 5px;
	width: 220px;
	height: 50px;;
	border: none;
	background-color: #fb565a;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
}
.modal-write-btn-submit:hover {
	background-color: #e74246;
}
.modal-write-btn-submit:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
	color: #e47175;
}
.modal-write-btn-close {
	position: relative;
	top: -15px;
	right: -427px;
	width: 21px;
	height: 21px;
	font-size: 0;
	background-image: url(../img/close-cross.svg);
	background-color: transparent;
	border: none;
	cursor: pointer;
	opacity: 0.3;
}
.modal-write-btn-close:hover {
	opacity: 1;
}
.modal-write-btn-close:active {
	opacity: 0.1;
}
.modal-write-btn-close:focus {
	outline-color: #d7373b;
}